apiVersion: v1
kind: ConfigMap
metadata:
  name: samba-config
  namespace: media
data:
  smb.conf: |
    [global]
    workgroup = WORKGROUP
    server string = Media Server
    security = user
    map to guest = Bad User
    log level = 1
    load printers = no
    printing = bsd
    printcap name = /dev/null
    disable spoolss = yes

    [media]
    path = /media
    browseable = yes
    read only = yes
    guest ok = yes
    create mask = 0664
    directory mask = 0775

    [stuff]
    path = /media-rw
    browseable = yes
    read only = no
    guest ok = no
    valid users = admin,user
    create mask = 0664
    directory mask = 0775
    force user = smbuser
    force group = smb
