use flake

if command -v pre-commit >/dev/null 2>&1; then
  pre-commit install
fi

VENV=$(poetry -C cli env info --path)

if [[ -z $VENV || ! -d $VENV/bin ]]; then
  log_error 'No poetry virtual environment found. Use `poetry install` to create one first.'
  exit 2
fi

export VIRTUAL_ENV=$VENV
export POETRY_ACTIVE=1
PATH_add "$VENV/bin"
