apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: github-arc-system
  namespace: github-arc-system
spec:
  chart:
    spec:
      chart: gha-runner-scale-set-controller
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: github-arc-system-repo
  interval: 1m0s
  values:
    namespaceOverride: github-arc-system
    env:
    ## Define environment variables for the controller pod
    #  - name: "ENV_VAR_NAME_1"
    #    value: "ENV_VAR_VALUE_1"
    #  - name: "ENV_VAR_NAME_2"
    #    valueFrom:
    #      secretKeyRef:
    #        key: ENV_VAR_NAME_2
    #        name: secret-name
    #        optional: true
    flags:
      ## Log level can be set here with one of the following values: "debug", "info", "warn", "error".
      ## Defaults to "debug".
      logLevel: "debug"
      ## Log format can be set with one of the following values: "text", "json"
      ## Defaults to "text"
      logFormat: "text"
