apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: vault-ingress
  namespace: vault
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`vault.loeffelmeister.de`)
      kind: Rule
      services:
        - name: vault-release
          port: 8200
