apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault-release
  namespace: vault
spec:
  chart:
    spec:
      chart: vault
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: hashicorp-repo
      version: ">=0.30.0"
  interval: 1m0s
  values:
    server:
      standalone:
        enabled: true
        config: |
          ui = true

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }

          storage "raft" {
            path = "/vault/data"
          }

          service_registration "kubernetes" {}

      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: longhorn
        accessMode: ReadWriteOnce

      auditStorage:
        enabled: true
        size: 5Gi
        storageClass: longhorn
        accessMode: ReadWriteOnce

      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 512Mi
          cpu: 500m

      service:
        enabled: true
        type: ClusterIP
        port: 8200
        targetPort: 8200

    ui:
      enabled: true
      serviceType: ClusterIP
      servicePort: 8200

    injector:
      enabled: true
      resources:
        requests:
          memory: 128Mi
          cpu: 100m
        limits:
          memory: 256Mi
          cpu: 200m
